# Ignore all CSV and PKL files
*.csv
*.pkl
*.txt
*.json


# But track this specific model
!classifiers/lgb.pkl
# Ignore specific folders (if needed)
classifiers/training_and_test_data/*.csv
sweep_J_data/values/*.pkl
